#proj-section {
  padding: 200px;
  margin-top: 375px;
  background-color: #e3f2fd;
}

#footer {
  padding:25px 200px 25px 200px;
}

h1 {
  font-size: 30pt;
  text-align: center;
}

.navbar-brand {
  font-family: 'Parisienne', cursive;
  font-size: 30pt;
}

img {
  border-radius: 50%;
  width: 250px;
  margin-top: 50px;
  margin-left: 800px;
}
